---
import Head from "../components/public-components/HeadSEO.astro";
import "../styles/global.css";
import homepageOgImage from "../assets/images/Logo Discord.png";

export interface Props {
  // このレイアウトが受け取るプロパティを定義
  title: string;
  description: string;
  ogImage?: string;
  pageType?: "website" | "article";
  publishedDate?: string;
  // langプロパティを追加
  lang?: "id" | "ja";
}

// propsを受け取ります
const { title, description, ogImage, pageType, publishedDate, lang } =
  Astro.props;
---

<!doctype html>
<!-- <html>タグのlang属性も動的に設定 -->
<html lang={lang || "id"}>
  <head>
    <!-- HeadSEOコンポーネントに、受け取ったpropsをすべて渡します -->
    <Head
      title={title}
      description={description}
      ogImage={homepageOgImage}
      pageType={pageType}
      publishedDate={publishedDate}
      lang={lang}
    />
    <!-- スタイルシートの<link>タグは不要です。上のimport文がその役割を果たします。 -->
  </head>
  <body>
    <!-- 共通のページ構造（NavbarやFooterなど）をここに記述 -->

    <!-- この<slot />に、各ページのユニークなコンテンツが挿入されます -->
    <slot />

    <!-- 共通のスクリプトなどがあればここに配置 -->
  </body>
</html>
